<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form [formGroup]="scheduleForm" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="stacked">Tarea</ion-label>
      <ion-input formControlName="Task" color="dark"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Fecha</ion-label>
      <ion-input type="date" formControlName="Date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora</ion-label>
      <ion-input type="time" formControlName="Time"></ion-input>
    </ion-item>

    <!--<ion-item>
      <ion-label position="floating">Importancia</ion-label>
      <ion-select formControlName="Alta" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option formControlName="Alta">Alta</ion-select-option>
        <ion-select-option formControlName="Media">Media</ion-select-option>
        <ion-select-option formControlName="Baja">Baja</ion-select-option>
      </ion-select>
    </ion-item>-->

    <ion-item>
      <ion-button (click)="CreateRecord()" [disabled]="scheduleForm.invalid" color="success">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Crear tarea
      </ion-button>
    </ion-item>

  </form>

  <ion-card *ngFor="let item of scheduleList" color="medium">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.Task}}</ion-card-title>
        <ion-card-subtitle>{{item.Date}} {{item.Time}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                  Eliminar
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                  Actualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Tarea</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditTask"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Fecha</strong></ion-label>
          <ion-input type="date" [(ngModel)]="item.EditDate"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Hora</strong></ion-label>
          <ion-input type="time" [(ngModel)]="item.EditTime"></ion-input>
        </ion-item>
       <!-- <ion-item>
          <ion-label><strong>Importancia</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditTime"></ion-input>
        </ion-item>-->

      </ion-card-content>
    </ng-template>
  </ion-card>
</ion-content>
